@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

nav {
    height: 120px;
    background: #2c3e50;
    background-image: url(../HEADER/game\ over.png);
}

nav img {
    width: 150px;
    position: absolute;
    top: 0.2%;
    bottom: 0.1%;
    margin: -15px 0px  0px 15px;
    
}

nav ul {
    float: right;
    margin-right: 25px;
    padding-top: 20px;
}

nav ul li {
    display: inline;
    line-height: 80px;
    margin: 0px 15px;
}


nav ul li a {
    position: relative;
    color: white;
    font-size: 5px 0px;
    padding: 5px;
    text-transform: uppercase;
}


nav ul li a::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s linear;
}

a:hover {
    color: white;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

button {
    background-color: #2a2e4463;
    color: white;
    width: 90px;
    height: 45px;
    border-radius: 15px;
}

button:hover {
    border: 2px solid rgba(255, 255, 255, 0.651);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(23, 23, 23, 0.952);
    transition: transform .1s, border .1s;
}

label #btn, label #cancel {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media screen and (max-width: 1118px) {

    nav img {
        left: 3%;
        top: 20px;
        width: 130px;
    }

    nav ul li a {
        font-size: 17px;
    }
}


@media screen and (max-width: 860px) {

    body {
        background-attachment: fixed;
    }

    label #btn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100px;
        height: 100vh;
        background: #34495e;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .2s;

    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 35px;
    }


    nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul{
        left: 0px;
    }

    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }
}