:root {
    --Desaturated-Red: rgb(206, 151, 151);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    --bg-mobile: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 245, 245, 1) 100%
    );
    --button-color: linear-gradient(
      135deg,
      rgba(248, 191, 191, 1) 0%,
      rgba(238, 140, 140, 1) 100%
    );
  }

  html, body {
    background-color: var(--button-color);
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
  }

  .container {
    display: flex;
  }

  .left-container {
    background-image: url(../imagens/bg-pattern-desktop.svg);
    background-size: cover;
    background-position: center center;
    padding: 0 40px 40px;
    width: 60%;
  }

  .left {
    max-width: 450px;
    margin: auto;
  }

  .right-container {
    width: 40%;
  }

  .img {
    background-image: url(../imagens/hero-desktop.jpg);
    background-size: cover;
    background-position: center center;
  }



  