

body {
    background-color: black;
}

main .personagem {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 85vw;
    background: linear-gradient(-233deg, #0000 10%, rgba(0, 0, 0, 0) 65%) no-repeat;
    z-index: 1;
}

main::after {
    content: "";


}

main .personagem.selecionado {
    display: block;
}

main .personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
}

.conteudo .nome-personagem {
    color: white;
    font-size: 40px;
    font-family: "secular One";
    font-weight: 300;
    margin: 20px;
}

.conteudo .descricao {
    color: white;
    font-family: "Rubik";
    font-size: 20px;
    line-height: 24px;
}

.conteudo .logo {
    background-image: url(../imagens/one-piece-logo.png);
    background-size: cover;
    height: 100px;
    width: 230px;
    margin-bottom: 20px;
}

.botoes {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 180px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.botoes .botao {
    border: none;
    background: none;
    cursor: pointer;
}

.botoes .botao img {
    border-radius: 50px;
}

